absl-py==1.2.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blis==0.7.5
blobfile==1.3.1
cachetools==5.2.0
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==5.0.0
charset-normalizer==2.0.7
click==8.0.3
clip==1.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.24
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.2.4
docopt==0.6.2
einops==0.4.1
emoji==2.0.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastjsonschema==2.15.3
ffmpeg-python==0.2.0
ffprobe==0.5
filelock==3.4.0
fire==0.4.0
flatbuffers==1.12
fonttools==4.28.2
frozenlist==1.3.1
fsspec==2022.7.1
ftfy==6.0.3
future==0.18.2
gast==0.4.0
gdown==4.5.1
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
h5py==3.6.0
hope==0.7.3
huggingface-hub==0.9.0
idna==3.3
imageio==2.13.1
importlib-metadata==4.12.0
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonpickle==2.2.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kornia==0.6.6
langcodes==3.3.0
libclang==14.0.6
librosa==0.9.1
llvmlite==0.38.1
madmom==0.16.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
midi2audio==0.1.1
miditoolkit==0.1.16
MIDIUtil==1.2.1
mido==1.2.10
mir-eval==0.7
mistune==0.8.4
more-itertools==8.13.0
mosestokenizer==1.2.1
mpmath==1.2.1
multidict==6.0.2
murmurhash==1.0.6
music21==7.3.3
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
nltk==3.6.5
notebook==6.4.11
numba==0.55.2
numpy==1.21.4
oauthlib==3.2.0
omegaconf==2.2.2
opencv-python==4.5.5.64
openfile==0.0.7
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
pidfile==0.1.1
Pillow==8.4.0
pooch==1.6.0
preshed==3.0.6
pretty-midi==0.2.9
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.3
pycparser==2.21
pycryptodomex==3.15.0
pydantic==1.8.2
pyDeprecate==0.3.2
pydub==0.25.1
Pygments==2.12.0
pyparsing==3.0.6
pypianoroll==1.0.4
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-fast-transformers==0.4.0
pytorch-lightning==1.7.3
pytz==2022.1
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==23.0.0
qtconsole==5.3.0
QtPy==2.1.0
regex==2021.11.10
requests==2.28.1
requests-oauthlib==1.3.1
resampy==0.2.2
revtok==0.0.3
rsa==4.9
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.1.1
scipy==1.9.0
seaborn==0.11.2
Send2Trash==1.8.0
sentencepiece==0.1.96
setuptools-scm==6.3.2
six==1.16.0
smart-open==5.2.1
some-package==0.1
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
stack-data==0.2.0
sympy==1.10.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
thinc==8.0.13
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.6.7
tinycss2==1.1.1
tokenizers==0.12.1
tomli==1.2.2
toolwrapper==2.1.0
torch==1.10.0
torchaudio==0.10.0
torchmetrics==0.9.3
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.2.1.post0
transformers==4.21.1
typer==0.4.0
typing_extensions==4.0.0
uctools==1.3.0
Unidecode==1.3.4
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
Werkzeug==2.2.1
wget==3.2
widgetsnbextension==3.6.0
wrapt==1.14.1
xlrd==2.0.1
xmltodict==0.12.0
yarl==1.8.1
zipp==3.8.1
